body{
    background: url(c2.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.box{
background-color:ghostwhite ;
color: red;
top: 50%;
left:65%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 40px 30px;
border-radius:10px ;
}




h1{
margin: 0;
padding:  20px;
text-align: center;
font-size: 35px;
color: #C30909;
}

p{
color: #f49126;
margin: 0;
padding: 0;
font-weight: bold;
}

input{
width: 100%;
margin-bottom: 10px;
}

input[type="text"], input[type="password"] ,input[type="email"]
{
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
font-size: 16px;
}

.submit
{
border: none;
outline: none;
height: 40px;
background: #0829F9;
color: #fff;
font-size: 18px;
border-radius: 20px;

}


.submit:hover
{
cursor: pointer;
background: #00FF03;
}

a
{
text-decoration: none;
font-size: 16px;
line-height: 20px;
color: #069818;
}


a:hover
{
color: red;
}